/* custom fonts  */
@font-face {
  font-family: Almarai;
  src: url("/public/fonts/Almarai-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Almarai;
  src: url("/public/fonts/Almarai-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Almarai;
  src: url("/public/fonts/Almarai-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Almarai;
  src: url("/public/fonts/Almarai-ExtraBold.ttf");
  font-weight: 800;
}
/* custom fonts  */

.foot-icons {
  color: #a0d7e2 !important;
  border: 1px solid #a0d7e2 !important;
  margin-left: 10px !important;
}
.foot-icons:hover {
  color: #ef7261 !important;
  border-color: #ef7261 !important;
}
.adding-to-cart:hover {
  transition: 0.3s;
  box-shadow: -4px 4px 0px 0px rgba(6, 54, 61, 0.5) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contactPage .icon{
font-size: 30px;
}
.productspage .MuiButtonGroup-middleButton {
  border: 1px solid currentColor;
}

.productspage .card:hover {
  border-radius: 10%;
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.productspage .card {
  position: relative;
  transition: 0.4s ease all;
}
.productspage .filterbox {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.workshopspage .card{
  background:#DCECF0;
  box-shadow:6px 7px 15px 3px #00000040;
  max-width: 400px ;
  /* padding:10px; */
  transition: 0.3s ;
  border:10px solid transparent;
  margin-bottom: 50px;
}
.workshopspage img {
  border: 10px solid transparent;
}
.workshopspage .card:hover {
    transform: translateY(-20px);
border-radius: 40px;
}
.workshopspage{
    background-color: #FFFFFF;
    /* padding: 0; */
}
.MuiDivider-root::after,.MuiDivider-root::before{
border-bottom:3px solid #5baf96}
.workshopspage .closed{
opacity: 0.5;
  max-width: 400px ;
  background:#DCECF0;
  box-shadow:6px 7px 15px 3px #00000040;
  max-width: 400px ;
  /* padding:10px; */
  transition: 0.3s ;
  border:10px solid transparent;
filter: grayscale(80%); 
 margin-bottom: 50px;


}

.cartpage .imgofproductsdep{
width:500px;
height:600px;
object-fit: cover;
border-radius: 10px;
  position: relative;
    transition: 0.4s ease all;
}

.cartpage .imgofproductsdep:hover {
      border-radius: 10%;
    transform: translateY(-20px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.cartpage .cart-grid{
  @media (min-width:900px) and (max-width:1200px) {
              flex-basis: 100%;
              max-width: 100%
            }
}

.bookingpage .MuiDayCalendar-weekDayLabel{
  width: calc(100% / 7);
}