.page {
  min-height: 100vh;
  background: url(./imgs/Landing.svg) center center no-repeat;
  background-size: cover;
  width: 100%;
}

.button {
  background-color: #ef7261 !important;
  color: black !important;
}
.home-container {
  width: 400px !important;
  position: absolute;
  height: 50%;
  right: 105px;
  padding: 140px 0 0;
}
